*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}
.banner{
    width: 85%;
    max-width: 1340px;
}
.banner-text{
    background-image: url(../resources/banner-image.png);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    color: #FFF;
}
.banner-text h1{
    width: 632px;
    font-size: 72px;
    margin: 200px auto;
}
.banner p{
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    
}

