@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/* font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif; */

/* banner section start */
*{
    margin: 0;
    padding: 0;
}
.banner{
    background-image: url(../resources/banner-image.png);
    background-size: cover;
    border-radius: 16px;
    max-width: 1320px;
    height: 600px;
    margin: 50px 280px;
    
    
}
.banner p{
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}

.banner h1{
    color: #FFF;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px; /* 131.944% */
}
.banner-text{
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 80%);
    block-size: cover;
    border-radius: 16px;
    text-align: center;
    width: 632px;
    padding: 233px 344px;
}
/* banner section end */

/* offer section start */
.offer{
    text-align: center;
    max-width: 1600px;
    margin: 0 399px;
    
}
.offer .off{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}
.offer p{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    
}
.offer h2{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    padding-top: 6px;
    padding-bottom: 48px;
}
/* offer section end */

/* welcome section start */
.welcome{
    max-width: 1320px;
    height: 600px;
    background-image: url(../resources/vectorrr.png);
    background-size: cover;
    border-radius: 20px;
    margin: 50px 240px;
    display: flex;
    padding: 70px;
}
.welcome .welcome-text{
    background-image: linear-gradient(90deg, #07040c 0%, rgba(7, 2, 17, 0.00) 70%);
    border-radius: 20px;
    padding: 126px;
    box-sizing: cover;

}
.welcome .welcome-text h2{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    width: 642px;   
    
}
.welcome .welcome-text p{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 697px;
}
.welcome .year{
    width: 108.985px;
    height: 152.112px;
    padding: 20px; 
}
.welcome button{
    color: #FFF;
    background-color: transparent;
    border: none;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 32px;
}
/* welcome section end */

/* event section start */
.event-info{
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    max-width: 1320px;
    height: 482px;
    margin: 120px 240px;
    border-radius: 10px 10px 0 0;
    text-align: center;
    padding: 80px;
}
.event-info .event-text{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    padding-bottom: 64px;
}
.event-info .event-text span{
    color: #F00;
}
.event-info button{
    padding: 16px 32px;
    border-radius: 8px;
    border: none;
    background: #F00;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
/* event section end */

.gift{
    max-width: 1600px;
    /* height: 7335px; */
    text-align: left;
    margin: 120px 240px;
    background-color: #FFF;
}

.gift-text{
    padding: 10px 40px;
}

.gift-image-1, .gift-image-2{
    display: flex;
    padding: 20px;
    justify-content: space-around;
}
.gift-text h3{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.gift-text h2{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.gift-text p{
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
.newletter{
    max-width: 1320px;
    height: 616px;
    background-color: rgba(255, 0, 0, 0.05);
    border-radius: 16px;
    margin: 120px 240px;
    padding: 80px 250px;
    text-align: center;

}
.newletter img{
    padding-bottom: 40px;
}
.newletter h2{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    padding-bottom: 22px;
}
.newletter p{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* width: 896px; */
    padding-bottom: 48px;
}

.newletter input{
    border-radius: 49px 0 0 49px;
    background-color: #FFF;
    width: 648px;
    height: 70px;
}
.newletter input::placeholder{
    padding: 25px 477px 25px 30px;
    place-content: end space-between;
    font-size: 18px;
}

.newletter button{
    border-radius: 0px 50px 50px 0px;
    background-color: #F00;
    padding: 24px 56px;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}
footer{
    max-width: 1600px;
    height: 609px;
    background-color: #070211;
    margin: 120px 240px;
    padding-top: 120px;
    padding-bottom: 50px;
    padding-right: 291px;
    padding-left: 140px;
}
footer p{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
footer hr{
    width: 1320px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.15);
    border: none;
}
footer .add-con{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.footer-image{
    text-align: center;
    padding: 48px 0;
}
.footer-last{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

